---
title: December 8, 2015
---

%section

  %h2 Round 1

  %ol
    %li.question
      What ’90s hip-hop band’s name is a reference to the H.G. Wells novel <i>The Island of Dr. Moreau</i>?
      .answer House of Pain
    %li.question
      Who is the only President of the United States to have been administered the oath of office by a woman?
      .answer Lyndon B. Johnson
    %li.question
      The “Hot Brown” sandwich is a regional specialty originating in what U.S. city?
      .answer Louisville, Kentucky
    %li.question
      What was the name of the gangster movie watched by Kevin McAllister in <i>Home Alone</i>?
      .answer
        %i Angels with Filthy Souls
    %li.question
      The two semifinal games in NCAA Division I football rotate among what six major bowl games?
      .answer
        %ul
          %li Rose Bowl
          %li Orange Bowl
          %li Sugar Bowl
          %li Fiesta Bowl
          %li Cotton Bowl
          %li Peach Bowl
    %li.question
      The English word “myriad”, meaning “very many”, derives from an ancient Greek word for what specific number?
      .answer 10,000

%section

  %h2 Round 2

  %ol
    %li.question
      What type of soap derives its name from a region of Spain?
      .answer Castile
    %li.question
      What are the proper names for lines of latitude and longitude on a map?
      .answer
        Parallels
        %small (of latitude) and
        meridians
        %small (of longitude)
    %li.question
      An Atari game released in 1982 based on what movie is commonly cited as the worst video game of all time?
      .answer
        %i E.T. the Extraterrestrial
    %li.question
      What Rita Hayworth movie is briefly shown in <i>The Shawshank Redemption</i>?
      .answer
        %i Gilda
    %li.question
      Besides Switzerland, what other country uses the Swiss franc as its official currency?
      .answer Liechtenstein
    %li.question
      Name the five U.S. states that have territory in both the Eastern and Central time zones.
      .answer
        %ul
          %li Michigan
          %li Indiana
          %li Kentucky
          %li Tennessee
          %li Florida

%section

  %h2
    Round 3
    %small (worksheet)

  %p
    Name the web site for each bookmark icon. All are from Alexa’s top 200 sites visited by United States users.

  %ol.favicons
    %li.question
      = image_tag 'http://yelp.com/favicon.ico', alt: '', height: 32
      %span.answer Yelp
    %li.question
      = image_tag 'https://vimeo.com/favicon.ico', alt: '', height: 32
      %span.answer Vimeo
    %li.question
      = image_tag 'http://i.imgur.com/BiagAaI.png', alt: '', height: 32
      %span.answer Time Magazine
    %li.question
      = image_tag 'http://i.imgur.com/CjYrTCK.png', alt: '', height: 32
      %span.answer SoundCloud
    %li.question
      = image_tag 'https://github.com/favicon.ico', alt: '', height: 32
      %span.answer GitHub
    %li.question
      = image_tag 'http://www.adobe.com/favicon.ico', alt: '', height: 32
      %span.answer Adobe
    %li.question
      = image_tag 'http://www.nytimes.com/favicon.ico', alt: '', height: 32
      %span.answer The New York Times
    %li.question
      = image_tag 'https://www.kickstarter.com/favicon.ico', alt: '', height: 32
      %span.answer Kickstarter
    %li.question
      = image_tag 'https://www.paypalobjects.com/favicon.ico', alt: '', height: 32
      %span.answer PayPal
    %li.question
      = image_tag 'http://www.latimes.com/favicon.ico', alt: '', height: 32
      %span.answer Los Angeles Times
    %li.question
      = image_tag 'http://i.imgur.com/4rdHJe2.png', alt: '', height: 32
      %span.answer Craigslist
    %li.question
      = image_tag 'http://i.imgur.com/at1zKmH.png', alt: '', height: 32
      %span.answer Nordstrom
    %li.question
      = image_tag 'http://www.ebay.com/favicon.ico', alt: '', height: 32
      %span.answer eBay
    %li.question
      = image_tag 'https://www.linkedin.com/favicon.ico', alt: '', height: 32
      %span.answer LinkedIn
    %li.question
      = image_tag 'https://www.tumblr.com/favicon.ico', alt: '', height: 32
      %span.answer Tumblr
    %li.question
      = image_tag 'http://www.huffingtonpost.com/favicon.ico', alt: '', height: 32
      %span.answer Huffington Post
    %li.question
      = image_tag 'http://www.blogger.com/favicon.ico', alt: '', height: 32
      %span.answer Blogger
    %li.question
      = image_tag 'http://i.imgur.com/u8PKRn9.png', alt: '', height: 32
      %span.answer Pinterest
    %li.question
      = image_tag 'http://i.imgur.com/ErkXA7p.png', alt: '', height: 32
      %span.answer WordPress
    %li.question
      = image_tag 'http://www.theguardian.com/favicon.ico', alt: '', height: 32
      %span.answer The Guardian

%section

  %h2 Round 4

  %ol
    %li.question
      How many total votes are there in the U.S. electoral college?
      .answer 538
    %li.question
      What two countries occupy the Caribbean island of Hispaniola?
      .answer
        %ul
          %li Dominican Republic
          %li Haiti
    %li.question
      What comedian was the first to record a stand-up album selling over a million copies?
      .answer Bob Newhart
    %li.question
      Name either of the two musical acts who have had music videos produced by the creators of <i>The Ren & Stimpy Show</i>.
      .answer
        %ul
          %li Björk
          %li Tenacious D
    %li.question
      What is unusual about the national anthems of Bosnia and Herzegovina, Kosovo, San Marino, and Spain?
      .answer They have no official lyrics
    %li.question
      What production company created the stop-motion <i>Rudolph the Red-Nosed Reindeer</i> and <i>Frosty the Snowman</i> Christmas specials?
      .answer Rankin/Bass Productions

%section

  %h2 Round 5

  %ol
    %li.question
      What New York landmark exposes people inside to more radiation than is legally permissible at an actual nuclear power plant?
      .answer Grand Central Station
    %li.question
      What Indian dish, commonly made with pork, chicken, or lamb, gets its name from the Portuguese words for wine and garlic?
      .answer Vindaloo
    %li.question
      What 1980 film shares its name with a fringe religious cult that committed mass suicide in 1997?
      .answer
        %i Heaven’s Gate
    %li.question
      Across the four major North American sports leagues, what team holds the record for most consecutive championships?
      .answer
        Boston Celtics
        %small (8 championships from 1959–66)
    %li.question
      Sal Paradise is the protagonist of what 1957 novel?
      .answer
        %i On the Road
        %small by Jack Kerouac
    %li.question
      What men’s garment is named after a village in Orange County, New York?
      .answer Tuxedo

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    What packaged snack food brand traces its origins to leftovers at Disneyland in the 1960s?
    .answer Doritos
