---
title: Bacchus trivia
---

%h2
  = link_to '/questions/2016-03-29.html' do
    March 29, 2016
%h2
  = link_to '/questions/2015-12-08.html' do
    December 8, 2015
%h2
  = link_to '/questions/2015-09-15.html' do
    September 15, 2015
%h2
  = link_to '/questions/2015-06-23.html' do
    June 23, 2015
%h2
  = link_to '/questions/2015-03-17.html' do
    March 17, 2015
%h2
  = link_to '/questions/2014-11-04.html' do
    November 4, 2014
%h2
  = link_to '/questions/2014-07-29.html' do
    July 29, 2014
%h2
  = link_to '/questions/2014-04-29.html' do
    April 29, 2014
