---
title: Bacchus trivia
---

%p
  Every Tuesday evening in the bar at
  <a href="https://www.facebook.com/Bacchus-Wood-Fired-145184168850725/">Bacchus</a>,
  one member of the group of trivia-playing regulars takes their turn at
  hosting, and I’m no exception. Here are the questions I’ve written and asked
  the crowd.

%h2
  = link_to '/questions/2016-03-29.html' do
    March 29, 2016
%h2
  = link_to '/questions/2015-12-08.html' do
    December 8, 2015
%h2
  = link_to '/questions/2015-09-15.html' do
    September 15, 2015
%h2
  = link_to '/questions/2015-06-23.html' do
    June 23, 2015
%h2
  = link_to '/questions/2015-03-17.html' do
    March 17, 2015
%h2
  = link_to '/questions/2014-11-04.html' do
    November 4, 2014
%h2
  = link_to '/questions/2014-07-29.html' do
    July 29, 2014
%h2
  = link_to '/questions/2014-04-29.html' do
    April 29, 2014
%h2
  = link_to '/questions/2014-01-28.html' do
    January 28, 2014
%h2
  = link_to '/questions/2013-10-29.html' do
    October 29, 2013
%h2
  = link_to '/questions/2013-07-30.html' do
    July 30, 2013
%h2
  = link_to '/questions/2013-04-30.html' do
    April 30, 2013
%h2
  = link_to '/questions/2013-01-08.html' do
    January 8, 2013
%h2
  = link_to '/questions/2012-09-18.html' do
    September 18, 2012
%h2
  = link_to '/questions/2011-10-04.html' do
    October 4, 2011
