---
title: Bacchus trivia
---

%p
  Every Tuesday evening in the bar at
  <a href="https://www.facebook.com/Bacchus-Wood-Fired-145184168850725/">Bacchus</a>,
  one member of the group of trivia-playing regulars takes their turn at
  hosting, and I’m no exception. Here are the questions I’ve written and asked
  the crowd.

%h2
  = link_to '/questions/2016-03-29.html' do
    March 29, 2016
%h2
  = link_to '/questions/2015-12-08.html' do
    December 8, 2015
%h2
  = link_to '/questions/2015-09-15.html' do
    September 15, 2015
%h2
  = link_to '/questions/2015-06-23.html' do
    June 23, 2015
%h2
  = link_to '/questions/2015-03-17.html' do
    March 17, 2015
%h2
  = link_to '/questions/2014-11-04.html' do
    November 4, 2014
%h2
  = link_to '/questions/2014-07-29.html' do
    July 29, 2014
%h2
  = link_to '/questions/2014-04-29.html' do
    April 29, 2014
%h2
  January 28, 2014
  %small (coming soon)
%h2
  October 29, 2013
  %small (coming soon)
%h2
  July 30, 2013
  %small (coming soon)
%h2
  April 30, 2013
  %small (coming soon)
%h2
  January 8, 2013
  %small (coming soon)
%h2
  September 18, 2012
  %small (coming soon)
